.news_list {
    margin:0 auto;
    width: 900px;
}
.news_list b,
.news_list span,
.news_list a {
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}
.news_list b {
    background-color: #7c4e8d;
    color: #d7ecf3;
}
.news_list b:first-child {
    width: 700px;
}
.news_list b:nth-child(2) {
    width: 200px;
}
.listdata {
    float: left;
}
.listdata:hover {
    background-color: #eee;
}
.news_list a {
    width: 700px;
    color: #050505;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_list span {
    width: 200px;
}
#Repeater1_HyperLink1 {
    width: 900px;
    background-color: #7c4e8d;
    text-align: center;
    color: #d7ecf3;
    font-weight: 700;
}
#Repeater1_HyperLink1:hover {
    color: #093759;
}
